/* Container */
.container{
    width:100%;
    margin:0 auto;
    margin-top: 100px;
}

/* Login */
#div_login{
    border: 1px solid gray;
    border-radius: 3px;
    width: 470px;
    height: 300px;
    box-shadow: 0px 2px 2px 0px  gray;
    margin: 0 auto;
}

#div_login h1{
    margin-top: 0px;
    font-weight: normal;
    padding: 10px;
    background-color: lightseagreen;
    color: white;
    font-family: sans-serif;
    text-align: center;
    }

img {
    display: block;
    margin-left: auto;
  
  }
#div_login div{
    clear: both;
    margin-top: 10px;
    padding: 5px;
}

#div_login .textbox{
    width: 96%;
    padding: 7px;
}

#div_login input[type=submit]{
    padding: 7px;
    width: 100px;
    background-color: lightseagreen;
    border: 0px;
    color: white;
}

.button{
        background-color: lightseagreen;
        border: none;
        color: white;
        width: 100px;
        padding: 7px;;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}
a:link, a:visited {
    
    color: white;
    
    text-align: center;
    
    display: inline-block;
  }